{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home Page{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
</head>
<body class="container-fluid">
    <header class="mb-4">
        <h1 class="display-1 text-center">{% block header %} Feel Good{% endblock %}</h1>
    </header>
    <div class="row" style="background-color: green;">

            <ul class="col nav justify-content-start">
                <li class="nav-item"> <a class="nav-link" href="{% url 'main_page' %}" style="color: white;">Главная</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'diets_page' %}" style="color: white;">Диеты</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'favorites_page' %}" style="color: white;">Любимые Диеты</a> </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'diets_special' %}" style="color: white;">Специальная диета</a> </li>
                {% endif %}
            </ul>

        <ul class="col nav justify-content-end">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_logout' %}" style="color: white;">Выйти из сети</a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">
                    Профиль
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'user_permissions' %}">Мои разрешения</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'change_password' %}">Изменить пароль</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_login' %}" style="color: white;">Войти в сеть</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_register' %}" style="color: white;">Зарегистрироватся</a>
            </li>
        {% endif %}
        </ul>
    </div>
    <div class="row">
        <section class="col border py-2">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock %}
        </section>
    </div>
</body>
</html>